# Created by https://www.gitignore.io/api/osx,windows,linux,sublimetext

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk


### Linux ###
*~

# Linux trash folder which might appear on any partition or disk
.Trash-*

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json